# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# VS Code
.vscode/

# dotenv environment variables
*.env
config/.env

# Selenium Chrome profile
chrome_profile/

# Log files
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/